<div class="container-fluid">
    <div class="row">
        <div class="card col-lg-4 col-sm-6 col-xs-12" *ngFor="let note of notes; index as noteIndex;">
            <div class="card-body">
                <h4 class="card-title">{{note.body | slice:0:20}}</h4>
                <div class="card-text">
                    {{note.body | slice:21:50}}
                </div>
                <!--img class="card-img-bottom" src="assets/links_{{link.name}}.png" [alt]="link.name"-->
            </div>
            <div class="card-footer">
                <a href="{{note.updatedOn}}" target="_blank">{{note.updatedOn}}</a>
            </div>
        </div>
    </div>
</div>